<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Medicamentos</title>
</head>

<body>
    <h2>
        Medicamentos recetados:
    </h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dosis</th>
            <th>Frecuencia</th>
            <th>FechaPrimeraToma</th>
        </tr>
        <tbody>
            <tr th:each="medicamento : ${medicamentos}">
                <td th:text="${medicamento.id}"></td>
                <td th:text="${medicamento.nombre}"></td>
                <td th:text="${medicamento.dosis}"></td>
                <td th:text="${medicamento.frecuencia}"></td>
                <td th:text="${medicamento.fechaPrimeraToma}"></td>
                <td>
                    <form th:action="@{'/medicamentos/' + ${medicamento.id}}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="submit" value="Eliminar" />
                    </form>
                </td>

                <td>
                    <form th:action="@{'/editMedicamentos/' + ${medicamento.id}}" method="get">
                        <input type="submit" value="Actualizar" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

